body{
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  color : white;
}

#heading{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
}

#search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}

#search input[type="text"]{
    height : 40px;
    width: 70%;
    margin-top: 12px;
    border-radius: 8px;
}

a{
    text-decoration: none;
    color: white;
}

#fav-link{
    padding: 12px;
    border: 1px solid black;
    background-color: #0d1d52;
    border-radius: 8px;
    margin-top: 3px;

}

#superheros-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#bimage{
    position: absolute;
    height: 100%;
    width : 100%;
    z-index: -1;

}

#bimage img{
    /* position: relative; */
    height: 100%;
    width : 100%;
    background: rgba(0,0,0,0.5);
    /* opacity: 0.89; */
}



.superhero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 160px;
    /* height : 250px; */
    /* border: 2px solid black; */
    background-color: #121214;
    padding: 5px;
    margin : 10px;
}

.image{
    height : 150px;
    /* width: 250px; */
    /* border: 2px solid black; */
}

img{
    height : 150px;
    width: 150px;
    text-align: center; 
}

.fav-btn, .more-info{
    border: 1px solid white;
    margin : 1px;
    padding: 5px;
    background-color: #0d1d52;
    border-radius: 4px;
    cursor: pointer;
}

.more-info{
    margin-top: 5px;
    background-color:#333b3f;
}