#info-page{
    border: 1px solid black;
    width : 70%;
    /* height : 1200px; */
    margin: auto;
}

#image{
    /* position: absolute; */
    width : 250px;
    height : 250px;
    margin : auto;
    border : 1px solid black;
}

#image img{
    /* text-align: center; */
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#appearance{
    border: 1px solid black;
}

#power-stats{
    border: 1px solid black;
}   